.deps/
autom4te.cache/
src/classix
src/classix.c
aclocal.m4
classix
classix-*.tar.gz
classix.o
classix_vala.stamp
compile
config.log
config.status
configure
depcomp
INSTALL
install-sh
Makefile
Makefile.in
missing
